.heading_1 {
  max-width: 86rem;
  margin: 0 auto;
}

.content_wrap_1,
.content_wrap_2,
.content_wrap_3,
.content_wrap_4 {
  display: flex;
  max-width: 86rem;
  margin: 0 auto;
}

.left_wrap_1,
.left_wrap_2,
.left_wrap_3,
.left_wrap_4 {
  flex: 0 0 60%;
}

.para_1,
.para_2,
.para_3,
.para_4 {
  max-width: 46rem;
}

.btn_wrap_1,
.btn_wrap_2,
.btn_wrap_3,
.btn_wrap_4 {
  margin-top: 3rem;
  text-align: left;
}

.btn_1 {
  padding: 0.5rem 1rem;
}

.right_wrap_1,
.right_wrap_2,
.right_wrap_3,
.right_wrap_4 {
  position: relative;
  width: 100%;
}

.heading_3,
.heading_4,
.heading_5 {
  max-width: 86rem;
  text-align: left;
}

.btn_wrap_5 {
  margin-top: 3rem;
  text-align: center;
}

/*** Media Queries ***/

/* xs */
@media screen and (min-width: 0px) {
  .sec_1 {
    margin: 1rem 2rem;
  }

  .heading_1 {
    text-align: center;
  }

  .content_wrap_1,
  .content_wrap_2,
  .content_wrap_3,
  .content_wrap_4 {
    flex-direction: column-reverse;
  }

  .left_wrap_1,
  .left_wrap_2,
  .left_wrap_3,
  .left_wrap_4 {
    margin-bottom: 0;
  }

  .para_1 {
    margin-top: 0;
  }

  .right_wrap_1,
  .right_wrap_2,
  .right_wrap_3,
  .right_wrap_4 {
    margin-bottom: 0;
    padding-top: 100%;
  }

  .heading_2 {
    margin-top: 4rem;
  }

  .sec_2,
  .sec_3,
  .sec_4 {
    margin: 4rem 2rem;
  }

  .heading_3,
  .heading_4,
  .heading_5 {
    margin-top: 2rem;
  }

  .para_2,
  .para_3,
  .para_4 {
    margin-top: 2rem;
  }

  .sec_5 {
    margin-top: 3rem;
  }
}

/* sm */
@media screen and (min-width: 600px) {
  .sec_1,
  .sec_2,
  .sec_3,
  .sec_4 {
    margin: 4rem;
  }

  .heading_1 {
    text-align: left;
  }

  .content_wrap_1,
  .content_wrap_2,
  .content_wrap_4 {
    flex-direction: row;
  }

  .content_wrap_3 {
    flex-direction: row-reverse;
  }

  .para_1,
  .para_2,
  .para_3,
  .para_4 {
    margin-top: 3rem;
  }

  .right_wrap_1,
  .right_wrap_2,
  .right_wrap_3,
  .right_wrap_4 {
    margin-bottom: 0;
    padding-top: 0;
  }

  .heading_2,
  .heading_3,
  .heading_4,
  .heading_5 {
    margin-top: 0;
  }

  .sec_5 {
    margin-top: 0;
  }
}

/* md */
@media screen and (min-width: 900px) {
  .sec_1,
  .sec_2,
  .sec_3,
  .sec_4 {
    margin-left: 7rem;
    margin-right: 7rem;
  }

  .right_wrap_1,
  .right_wrap_2,
  .right_wrap_3,
  .right_wrap_4 {
    margin-bottom: 2rem;
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  .sec_1,
  .sec_2,
  .sec_3,
  .sec_4 {
    margin-top: 5.25rem;
    margin-bottom: 5.25rem;
  }

  .left_wrap_1,
  .left_wrap_2,
  .left_wrap_3,
  .left_wrap_4 {
    margin-bottom: 6rem;
  }

  .right_wrap_1,
  .right_wrap_2,
  .right_wrap_3,
  .right_wrap_4 {
    margin-bottom: 0;
  }
}
