.container {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.heading_1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.title_1,
.title_2,
.title_3,
.title_4,
.title_5,
.title_6,
.title_7,
.title_8 {
  font-size: 1.75rem;
}

.para_1,
.para_2,
.para_3,
.para_4,
.para_5,
.para_6 {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
